@import url('https://cdn-uicons.flaticon.com/2.4.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 1rem;
    min-height: 100svh;
    justify-content: center;
  }

  .container {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    max-width: 1200px;
  }

  .flex-vertical {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 2.5em;
    text-align: center;
    color: #ffcc00;
    margin-block-start: .0rem;
    margin-block-end: .0rem;
  }

  .player-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .75rem;
  }

  .player-box {
    background-color: #202020;
    padding: .5rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255 255 255 / 14%);
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
    position: relative;
    /* Ensure relative positioning */
    box-shadow: 0px 18px 20px 2px #00000029;
  }

  .player-box:hover .delete-player {
    opacity: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #fff;
    background-color: #333;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #fff;
    background-color: #333;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .status-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .status-toggle label {
    color: #fff;
    font-size: 16px;
  }

  .toggle-switch {
    width: 60px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }

  .toggle-switch input {
    display: none;
  }

  .toggle-slider {
    width: 100%;
    height: 100%;
    background-color: #00ff5638;
    border-style: solid;
    border-width: 1px;
    border-color: #00ff55;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
  }

  .toggle-slider:before {
    content: "Alive";
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .toggle-switch input:checked + .toggle-slider {
    background-color: #ff000038;
    border-color: #ff0000;
  }

  .toggle-switch input:checked + .toggle-slider:before {
    content: "Dead";
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8b0000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }

  #saveButton{
    margin-bottom: 20px;
  }

  button:hover {
    background-color: #5a0000;
  }

  .delete-player {
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    margin: 2px;
    background-color: #8b0000;
    color: white;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    transition: background-color 0.3s ease, opacity 0.1s ease;
    display: flex;
    align-items: center;
    opacity: 0;
  }

  .delete-player:hover {
    background-color: #5a0000;
  }

  h6{
    font-size: 16px;
    color: #d8d2bd;
    margin: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .start-text {
    display: none;
  }

  .gap-05 {
    gap: .5rem;
  }

  .gap-1 {
    gap: 1rem;
  }

  .gap-2 {
    gap: 2rem;
  }

  .gap-3 {
    gap: 3rem;
  }

  .game-metrix-wrapper {
    position: absolute;
  }

  i {
    width: 1rem;
    height: 1rem;
  }

  /* Small devices (phones) */
  @media (max-width: 576px) {
    body {
      font-size: 14px;
    }

    .game-metrix-wrapper {
      position: relative;
      text-align: center;
    }

    .player-container {
      grid-template-columns: repeat(1, 1fr);
    }

  }

  /* Medium devices (tablets) */
  @media (min-width: 576px) and (max-width: 768px) {
    body {
      font-size: 15px;
    }

    .game-metrix-wrapper {
      position: relative;
      text-align: center;
    }

    .player-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Large devices (desktops) */
  @media (min-width: 992px) {
    body {
      font-size: 18px;
    }

    .player-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }