body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 1200px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffcc00;
  }

  .player-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .player-box {
    background-color: #555;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
    position: relative;
    /* Ensure relative positioning */
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #fff;
    background-color: #333;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  select {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #fff;
    background-color: #333;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .status-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    /* Position toggle switch */
    margin: -30px;
    margin-left: 60;
    bottom: 40px;
    /* Adjust as needed */
    left: 50px;
    /* Adjust as needed */
  }

  .status-toggle label {
    color: #fff;
    font-size: 16px;
  }

  .toggle-switch {
    width: 60px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }

  .toggle-switch input {
    display: none;
  }

  .toggle-slider {
    width: 100%;
    height: 100%;
    background-color: #8b0000;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
  }

  .toggle-slider:before {
    content: "Alive";
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .toggle-switch input:checked + .toggle-slider {
    transform: translateX(100%);
    background-color: #5a0000;
  }

  .toggle-switch input:checked + .toggle-slider:before {
    content: "Dead";
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8b0000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #5a0000;
  }

  .delete-player {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin: 17px;
    background-color: #8b0000;
    color: white;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.3s ease;
  }

  .delete-player:hover {
    background-color: #5a0000;
  }